* {
    /* Change your font family */
    font-family: sans-serif;
}

/* navbar parameters */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(rgba(241, 240, 240, 0.76),rgba(223, 222, 222, 0.486));
    width:auto;
}   

li {float:left}
li a{
    display: block;
    text-align:center;
    padding: 16px;
    color: rgba(15, 15, 15, 0.801);
    font-family: "Lemon Days";
    text-decoration: none;
    text-shadow: 0.1px 0.1px 1px rgb(0, 0, 0);
}
/*  */
a:hover {
    color: rgb(33, 120, 202);
    transition: 0.3s;
}

/* GOA photo */
#Photo {
    float:right;
    margin-right:800px;
    width:750px;
    height:500px;
    border: 2px solid skyblue;
    border-radius: 10px;
    position: relative;
    left:300px;
    margin-left:10px

}
/* Registration Button */
#Button {
    position:relative;
    left:300px;
    top:15px;
    border-radius:10px;
    font-size:15px; padding:
    20px; border:1px solid rgb(90, 90, 235);
    background-color:rgb(90, 90, 235);
    color:white;
}
/* Main text */
h2 {
    position: relative;
    left:300px
}

/* Website background color */
body {
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.459));
}


.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table th,
.content-table td {
    padding: 15px;
}

.content-table tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tr.active-row {
    font-weight: bold;
    color: #1ec44f;
}